

.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;
}
.nav-ul{
    display: flex;
    gap: 20px;
}
.nav-li{
    list-style: none;
}
.nav-li >a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.12rem;
    color: #424242;
}
/* banner style */
.banner{
    margin: 0 auto;
    max-width: 1440px;
}
.banner-containt{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-image >img{
    width: 100%;
}
.mar{
    margin-bottom: 20px;
}
.mar-1{
    margin-bottom: 30px;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
.banner-btn{
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    padding: 20px 24px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* feacer style */
.features{
    display: flex;
    gap: 73px;
}
.teim{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 85px;
}
.features-containt{
    max-width: 535px;
   margin-top: 287px;
}
/* love style */
.love{
    display: flex;
    gap: 150px;
    margin-bottom: 130px;
}
.containts-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
}
.containts-discription{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    width: 510px;
}
.love-containt{
    margin-top: 170px;
}
.love-image{
    margin-top: 130px;
}
.love-containts{
    width: 586px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.love-btn{
    padding: 45px 42px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: -120px;
    margin-left: -92px;
}
.btn-title{
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin: 0;
}
.btn-description{
    font-size: 1.56rem;
    font-weight: 500;
    color: white;
    margin-top: 0;
}
/* some style */
.smwidth{
    width: 100%;
}
.some-number{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 5px;
}
.some-text{
    font-weight: 600;
    font-size: 1.25rem;
    color: #727272;
    margin-top: 0;
}
.some-containt{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
    margin-top: 100px;
}
.some-contants{
    border: 1px solid #FF900E;
    padding: 46px 36px;
    text-align: center;
    border-radius: 8px;
}





@media screen and (max-width:576px) {
    .navbar, .nav-ul, .love{
        flex-direction: column;
    }
    .banner-image >img, .teim >img, .love-image >img{
        width: 100%;
    }
    .some-contants{
        width: 100%;
        padding: 0;
    }
    .containts-discription, .love-containts{
        width: 85%;
    }
    .some-containt{
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
    .features{
        flex-direction: column-reverse;
    }
    .teim{
        grid-template-columns: repeat(1, 1fr);
    }
    .love-btn{
        margin: 0px;
    }
}