

.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;
}
.nav-ul{
    display: flex;
    gap: 20px;
}
.nav-li{
    list-style: none;
}
.nav-li >a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.12rem;
    color: #424242;
}
/* banner style */
.banner{
    margin: 0 auto;
    max-width: 1440px;
    
}
.banner-containt{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-image >img{
    width: 100%;
}
.mar{
    margin-bottom: 20px;
}
.mar-1{
    margin-bottom: 30px;
}
.mar-2{
   
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
.banner-btn{
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    padding: 20px 24px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
}






@media screen and (max-width:576px) {
    .navbar, .nav-ul{
        flex-direction: column;
    }
    .banner-image >img{
        width: 100%;
    }
}